---
import Layout from '../layouts/Layout.astro';
import Hero from "../secciones/Hero.astro";
import Proyectos from "../secciones/Proyectos.astro";
import SobreMi from '../secciones/SobreMi.astro';
import Tecnologias from '../secciones/Tecnologias.astro';
---

<Layout title="Orlando Téllez">
	<main>
		<Hero />
		<Proyectos />
		<Tecnologias /> 
		<SobreMi/>
	</main>
</Layout>



