---
import Header from '../secciones/Header.astro';
import Layout from '../layouts/Layout.astro';
import Hero from "../secciones/Hero.astro"
import Proyectos from "../secciones/Proyectos.astro"
---

<Layout title="Orlando Téllez">
	<main>
	<Hero />
	<Proyectos />
	</main>
</Layout>



