---
import Layout from '../layouts/Layout.astro';
import Hero from "../secciones/Hero.astro"
import Proyectos from "../secciones/Proyectos.astro"
import SobreMi from '../secciones/SobreMi.astro';
---

<Layout title="Orlando Téllez">
	<main>
	<Hero />
	<Proyectos />
	<SobreMi/>
	</main>
</Layout>



