---
import logo from "../assets/iconos/logo.svg";
import menuIcon from "../assets/iconos/MenuIcono.svg";
import iconSol from "../assets/iconos/sun.svg";
import iconLuna from "../assets/iconos/moon.svg";
---

<header>
  <div class="container-header">
    <figure class="logo">
      <a href="/" class="logo-link">
        <div>
          <img src={logo.src} alt="logo" />
        </div>
        <h2>Portafolio</h2>
      </a>
    </figure>

    <!-- <div class="opacity on"></div> -->

    <nav class="contenedor active">
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#proyectos">Proyectos</a></li>
        <li><a href="#tecnologias">Tecnologías</a></li>
        <li><a href="#sobre-mi">Sobre mi</a></li>
      </ul>
    </nav>

    <div class="container-header--icon">
      <figure class="menu-icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="menu-hamburguesa--icon"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-menu-2"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
            d="M4 6l16 0"></path><path d="M4 12l16 0"></path><path
            d="M4 18l16 0"></path>
        </svg>
      </figure>
      <div class="hover-icon">
        <button id="theme-toggle" class="theme-button">
          <img src={iconSol.src} alt="Modo claro" class="theme-icon sun" />
          <img src={iconLuna.src} alt="Modo oscuro" class="theme-icon moon" />
        </button>
      </div>
    </div>
  </div>
</header>

<style>
  header {
    width: 100%;
    background-color: var(--color-fuente-tag);
    position: fixed;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid var(--border-color);
  }

  .theme-button {
    background: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 0px 20px;
  }

  .theme-icon {
    width: 24px;
    height: 24px;
    display: none;
  }

  html[data-theme="dark"] .moon,
  html[data-theme="light"] .sun {
    display: block;
  }

  .container-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--ancho-maximo);
  }

  .container-header--icon {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .logo-link {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .logo-link div {
    background-color: var(--color-secundario);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }


  nav {
    position: absolute;
    height: 100vh;
    width: 80vw;
    left: 0;
    top: 0;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    background-color: var(--color-fuente-tag);
    transition: all ease 0.4s;

    && ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      && li {
        width: 100%;
        && a {
          font-size: 1.2rem;
          display: block;
          width: 100%;
          padding: 20px;
          color: var(--color-fuente);
        }

        && a:hover {
          color: var(--color-secundario);
        }
      }

      && .hover-icon:hover {
        border: none;
      }
    }
  }

  .menu-hamburguesa--icon {
    color: var(--color-alternar);
  }

  .active {
    transform: translate(-1200px);
  }

  .menu-icon {
    display: grid;
  }

  .hover-icon {
    display: grid;
  }

  @media only screen and (min-width: 1024px) {
    .logo {
      order: 1;
    }

    .container-header--icon {
      order: 3;
    }
    .container-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .menu-icon {
      display: none;
    }

    nav {
      position: static;
      height: 100%;
      transition: all ease 0s;
      padding-top: 0px;
      margin-right: 40px;
      order: 2;

      && ul {
        flex-direction: row;
        gap: 5px;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 25px;

        && li {
          padding: 0px;
          font-size: 16px;
          width: auto;
          && a {
            display: block;
            padding: 0px;
          }
        }
      }
    }

    .active {
      transform: none;
    }
  }
</style>

<script is:inline>
  const icono = document.querySelector(".menu-icon");

  const contenedor = document.querySelector(".contenedor");
  icono?.addEventListener("click", () => {
    contenedor?.classList.toggle("active");
  });

  const themeToggle = document.getElementById("theme-toggle");
  const html = document.documentElement;

  const savedTheme =
    localStorage.getItem("theme") ||
    (window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light");

  html.setAttribute("data-theme", savedTheme);

  themeToggle.addEventListener("click", () => {
    const newTheme =
      html.getAttribute("data-theme") === "dark" ? "light" : "dark";
    html.setAttribute("data-theme", newTheme);
    localStorage.setItem("theme", newTheme);
  });
</script>
