.filtros {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}
.filtros button {
  padding: 8px 14px;
  border-radius: 6px;
  border: 1px solid #444;
  cursor: pointer;
  background: #111;
  color: white;
  transition: 0.3s;
  font-size: 1rem;
  
}
.filtros button:hover {
  background: #222;
}
.filtros button.activo {
  background: var(--color-resaltado);
  border-color: var(--color-resaltado);
  color: black;
}
.container-tarjetas {
  width: 100%;
  display: grid;
  max-width: 1024px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  gap: 25px;
}

@media only screen and (min-width: 1024px){
    .filtros{
        flex-wrap: nowrap;
        width: 100%;
    }

    .filtros button{
        width: 100%;
    }
}
