
.contenedor-tarjeta{
    border-radius: 5px;
    height: 100%;
    transition: 0.3s;
    background-color: var(--color-card);
}


.contenedor-tarjeta--div{
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-tarjeta--textos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.contenedor-tarjeta--textos h2{
    font-size: var(--sub-titulos);
}

.contenedor-tarjeta--textos p{
    font-size: var(--textos);
    color: var(--color-fuente);
}



.contenedor-tarjeta--img{
    width: 100%;
}

.contenedor-tarjeta--img img{
    width: 100%;
    max-width: 100%;
    height: 100%;
    border-radius: 5px;
}

.contenedor-tarjetas--botones{
    display: flex;
    
    width: 100%;
    gap: 20px;
    margin-bottom: 20px;
    padding: 0px 20px;
}

.contenedor-tarjetas--botones a{
    color: black;
    background-color: var(--color-secundario);
    font-size: var(--text);
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
}


.contenedor-tarjetas--botones a:hover{
    color: var(--blanco);
    background-color: rgb(43, 172, 211);
    
}

.contenedor-tarjetas--botones .github{
    background-color: var(--color-principal);
    border: 1px solid rgb(80, 78, 78);
    color: var(--color-fuente);
}

.contenedor-tarjetas--botones .github:hover{
    background-color: var(--color-secundario);
    border: 1px solid rgb(80, 78, 78);
}





.contenedor-tarjeta--textos .container-tecnologias{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-weight: bold;
}

.contenedor-tarjeta--textos .container-tecnologias p{
    border-radius: 10px;
    padding: 2px 20px;
}

.contenedor-tarjeta--textos .container-tecnologias .HTML{
    background-color: #ff8000;
    color: white;
    border-radius: 10px;
    padding: 2px 20px;
}

.contenedor-tarjeta--textos .container-tecnologias .CSS{
    background-color: #264de4;
    color: white;
}

.contenedor-tarjeta--textos .container-tecnologias .Js{
    background-color: #F0DB4F;
    color: #323330;
    
}

.contenedor-tarjeta--textos .container-tecnologias .React{
    background-color: #1ba1cc;
    color: white;
}

.contenedor-tarjeta--textos .container-tecnologias .Astro{
    background-color: #3e274e;
    color: white;
}

.contenedor-tarjeta--textos .container-tecnologias .NodeJs{
    color:rgb(255, 255, 255);
    background-color:rgba(0, 172, 92, 1);
}

.contenedor-tarjeta--textos .container-tecnologias .NextJs{
    color:rgb(255, 255, 255);
    background-color:rgb(0, 0, 0);
}


.contenedor-tarjeta--textos .container-tecnologias .Express{
    background-color:rgb(0, 0, 0);
    color:rgba(0, 172, 92, 1);
}

.contenedor-tarjeta--textos .container-tecnologias .MySql{
    background-color:#08668e;
    color:#ffffff;
}
@media only screen and (min-width: 768px){
    .contenedor-tarjeta--div{
        width: 300px;
    }
}
