---
interface Props{
    titulo: string;
    icono: string;
}

const { titulo, icono }: Props = Astro.props;
---

<div class="tarjeta-tecnologia">
    <div class="icono">
        <img src={icono} alt={titulo} />
    </div>
    <div class="titulo">
        <p>{titulo}</p>
    </div>
</div>

<style>
    .tarjeta-tecnologia{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--color-primario);
        border-radius: 10px;
        margin: 10px;
    }
    div{
        color: white;
    }
    .icono img{
        width: 24px;
    }

    h2{
        color: var(--color-fuente);
    }

</style>