---
// Supports weights 200-700
import "@fontsource-variable/oswald";
// Supports weights 100-900
import "@fontsource-variable/onest";

interface Props {
  title: string;
}

const { title } = Astro.props;
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    --titulos: 2.5rem;
    --sub-titulos: 1.5rem;
    --ancho-maximo: 1024px;
    --color-blanco: #ffffff;
  }

  [data-theme="dark"] {
    --color-principal: #0d1117;
    --color-secundario: #101624;
    --color-terciario: #121419;
    --color-resaltado: #3b82f6;
    --border-color: hsl(220 15% 18%);
    --color-alternar-fondo: black;
    --color-alternar-svg-fondo: #2f291d;
    --color-card: #17171c;
    --color-fuente: #fafafa;
    --color-fuente-secundario: #c5c5c5;
    --color-fuente-tag: black;
  }

  [data-theme="light"] {
    --color-principal: #f8eedf;
    --color-secundario: #ffd700;
    --color-alternar: black;
    --color-alternar-fondo: #f8eedf;
    --color-alternar-svg-fondo: #f4f4f5;
    --color-card: #fafafa;
    --color-fuente: #09090b;
    --color-fuente-secundario: #484643;
    --color-fuente-tag: white;
  }

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  html {
    /* font-family: system-ui, sans-serif; */
    /* font-family: "Oswald Variable", sans-serif; */
    font-family: "Onest Variable", sans-serif;
    background-size: 224px;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  body {
    width: 100%;
    background: #0d1117;
    background: linear-gradient(
      138deg,
      rgb(0, 0, 0) 0%,
      rgb(21, 23, 29) 50%,
      rgba(16, 22, 36, 1) 100%
    );
  }

  h1 {
    color: var(--color-fuente);
    font-size: 2.5rem;
  }

  p {
    color: var(--color-fuente);
    font-size: 1.2rem;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: var(--color-fuente);
  }

  button{
    cursor: pointer;
  }
</style>
