---
import logo from "../assets/iconos/logo.svg";
import ModoOscuro from "../components/ModoOscuro.astro";
import MenuIcono from "../assets/iconos/MenuIcono.svg";
---

<header>
  <div class="container">
    <figure>
      <h2>
        <img src={logo.src} alt="logo">
        Portafolio
      </h2>
    </figure>

    <div class="opacity on"></div>

    <figure class="menu-icon">
      <img src={MenuIcono.src} alt="icono-menu" />
    </figure>
    <nav class="nav active">
      <ul>
        <li><a href="#presentacion">Presentacion</a></li>
        <li><a href="#proyectos">Proyectos</a></li>

        <li><a href="#sobre-mi">Sobre mí</a></li>
      </ul>

      <div>
        <ModoOscuro />
      </div>
    </nav>
  </div>
</header>

<style>
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: fixed;
    border-bottom: 1px solid white;
    z-index: 10;
  }

  .container{
    width: 100%;
    max-width: var(--ancho-maximo);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-link {
    display: flex;
    gap: 10px;
  }

  nav {
    position: absolute;
    height: 100vh;
    width: 80vw;
    left: 0;
    top: 0;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    background-color: var(--color-principal-oscuro);
    transition: all ease 0.4s;
  }

  nav ul li a{
        text-decoration: none;
        color: var(--white);
        transition: all .5s;
    }

   nav ul li a:hover{
        list-style: none;
        color: var(--color-terciario-oscuro);
        border-bottom: 2px solid var(--color-terciario-oscuro);
    }

  .active {
    transform: translate(-1200px);
  }

  @media only screen and (min-width: 1024px) {
    header{
        width: 100%;
    }
    .container{
        justify-content: ;
    }

    .menu-icon {
      display: none;
    }

    nav {
      position: static;
      height: 100%;
      width: 35%;
      flex-direction: row;
      justify-content: space-between;
      width: 65%;
      transition: all ease .0s;
    }

    .active {
      transform: none;
    }

    ul {
      display: flex;
      gap: 30px;
    }

    a{
        font-weight: 500;
    }
  }
</style>

<script>
  let icono = document.querySelector(".menu-icon");
  let contenedor = document.querySelector(".nav");
  let opacidad = document.querySelector(".opacity");

  icono.addEventListener("click", (e) => {
    contenedor.classList.toggle("active");
    opacidad.classList.toggle("opacity");
  });
</script>
