---
import Tarjetas from "../components/Tarjetas.jsx"

---


<section id="proyectos">
    <div class="container-section">
        <article>
            <h1>&ltProyectos/&gt;</h1>
        </article>
        <div class="container-tarjetas">
           
            <Tarjetas 
            subtitulo="Coffe Api" 
            tecnologias={["React", "Astro"]}
            texto="La página ofrece una experiencia interactiva y dinámica, mostrando datos obtenidos a través de diferentes APIs." 
            img="img/proyecto-cafe.png"
            url="https://proyecto-cafe-listado.vercel.app/"
            github="https://github.com/OrlandoTellez/proyecto-cafeListado"/>
<!-- 
            <Tarjetas 
            subtitulo="PokeApi" 
            tecnologias={["HTML", "CSS", "Js"]}
            texto="La aplicación permite a los usuarios explorar información sobre diferentes Pokémon, incluyendo sus estadísticas, habilidades y tipos." 
            img="img/proyecto-pokeapi.png"
            url="https://poke-dex-practica.vercel.app/"
            github="https://github.com/EspadaKinno/PokeDexPractica"/> -->
<!-- 
            <Tarjetas 
            subtitulo="Temporizador" 
            tecnologias={["HTML", "CSS", "Js"]}
            texto="La aplicación permite a los usuarios configurar temporizadores personalizados para llevar un seguimiento del tiempo." 
            img="img/proyecto-temporizador.png"
            url="https://cuenta-regresiva-sigma.vercel.app/"
            github="https://github.com/OrlandoTellez/cuenta-regresiva"/> -->

            <Tarjetas 
            subtitulo="Landing Page" 
            tecnologias={["React"]}
            texto=" La página presenta información concisa y persuasiva sobre un producto, servicio o evento específico, todo esto utilizando React" 
            img="img/proyecto-landing.png"
            url="https://react-reto.vercel.app/"
            github="https://github.com/OrlandoTellez/landingPageReto"/>

            <Tarjetas 
            subtitulo="Home Page" 
            tecnologias={["HTML", "CSS", "Js"]}
            texto=" La página presenta un diseño moderno y funcional, con la capacidad de alternar entre el modo claro y oscuros. Realizado con jJavascript." 
            img="img/proyecto-homePage.png"
            url="https://orlandotellez.github.io/desafio-simpleHomepage/"
            github="https://github.com/OrlandoTellez/desafio-simpleHomepage"/>
           
    </div>
</section>

<style>
    section{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        padding: 75px 0px;
    }

    .container-section{
        width: 100%;
        max-width: 1024px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container-section article h1{
        font-size: var(--titulos);
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .container-tarjetas{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        place-items: center;
        gap: 25px;
    }
</style>