---

---


<section id="sobre-mi">
    <div class="container-section">
        <h1>Sobre mí</h1>
        <article>
            <article class="container-text">
                <figure>
                    <img src="/img/foto-2.webp" alt="">
                </figure>
                <div class="container-text-p">
                    <p>Nací el 06 de enero de 2005, justo el día de los reyes magos. <span>Empecé en el mundo del desarrollo web por casualidad, debido a que me encontré un video tutorial de HTML en mi vieja computadora</span>, tenía 15 años y a partir de ahí me di cuenta de que quería aprender mucho más.</p>

                    <p>Soy autodidacta y he trabajado en mis propios proyectos de los cuales me siento muy satisfecho por los resultados, <span>recuerdo hacer mi primera página con React y sentir lo mucho que he crecido en conocimientos</span>, sin embargo siempre no dejo de aprender cada día más.</p>

                    <p>Ahora mismo soy universitario, curso la carrera de Ingeniería en Sistemas,<span> en donde estoy aprendiendo nuevos lenguajes como Java y C#; y al mismo tiempo base de datos. </span></p>
                </div>
            </article>
        </article>
    </div>
</section>

<style>
    section{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 45px 0px;
        background-color: var(--color-fuente-tag);
        border-bottom: 1px solid var(--border-color);
    }

    .container-section{
        width: 100%;
        max-width: 1024px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container-section article{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container-section  h1{
        font-size: var(--titulos);
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .container-text{
        width: 100%;
        padding: 20px;
        font-size: var(--textos);
        display: flex;
        gap: 20px;
    }

    .container-text-p{
        max-width: 500px;
    }

    .container-text p{
        margin-bottom: 20px;
    }

    .container-text figure{
        width: 300px;
    }

    .container-text figure img{
        width: 100%;
        max-width: 100%;
        border-radius: 10px;
    }

    span{
        color: var(--color-alternar);
    }

    @media only screen and (min-width: 1024px){
        .container-section article{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .container-text figure{
            width: 400px;
        }

        .container-text{
            width: 100%;
            font-size: var(--textos);
            display: flex;
            gap: 40px;
            display: flex;
        }
    }
</style>

